@mixin dis_whole {
    width: 100%;
    height: 100%;
}

html, body {
    @include dis_whole;

    background-color: #222;
}

.content {
    @include dis_whole;
}

/*stage--start*/
.stage {
    position: relative;
    width: 100%;
    height: 880px;
}

/*stage--end*/

/* image -- start*/
.img-sec {
    position: relative;

    @include dis_whole;

    overflow: hidden;
    background-color: #DDDDDD;
   @at-root {
     .img-figure{
       position: absolute;
        width: 320px;
       height: 360px;
       margin: 0;
       padding: 40px;
       box-sizing: border-box;
       background-color: #fff;
     }
     figcaption{
       text-align: center;
       .img-title{
         margin:20px 0 0 0;
         color: #a7a0a2;
         font-size: 16px;
       }
     }
   }
}

/*image -- end*/

/*controller --start*/
.controller-nav {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 101;
    width: 100%;
    text-align: center;
}

/*controller --end*/
